# Node modules
node_modules/

test-data/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.*

# IDE files
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db

# Coverage
coverage/

# Misc
*.local 
